#root {
  margin: 0;
  padding:0;
  --font-family-inter: 'Inter', sans-serif;
  --text-white: rgba(255, 255, 255, 1);
  --text-rgb-100-116-139: rgba(100, 116, 139, 1);
  --text-rgb-15-52-96: rgba(15, 52, 96, 1);
  --text-rgb-55-65-81: rgba(55, 65, 81, 1);
  --text-rgb-75-85-99: rgba(75, 85, 99, 1);
  --text-rgb-248-250-252: rgba(248, 250, 252, 1);
  --text-rgb-209-213-219: rgba(209, 213, 219, 1);
  --text-rgb-156-163-175: rgba(156, 163, 175, 1);  
}

* {
  font-family: var(--font-family-inter);
  overflow-x: hidden;
}


/*Body Styling*/

.bg-brand {
  background-color: #0f3460 !important;
  color: #fff !important;
}

.text-brand {
  color: rgb(199, 172, 19) !important;
}

.text-brand2 {
  color: #0f3460 !important;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.custom-padding1 {
  padding: 3rem 0;
}

.custom-padding {
  padding: 5rem 0;
}


.squeeze-text {
  max-width: 600px;        
  margin: 0 auto;          
  text-align: center;       
}

.bg-special {
  background-color: #F9F5EB !important;
  color: #374151 !important;
}

.bg-grey {
  background-color: #e0e4e8 !important;
  color: #374151 !important;
}

.bg-container {
  background-image: url('/images/node-3.png');
  background-size: cover;
  background-position: cover;
  height: 90vh;
  font-size: 30px;
  font-weight: bold;
}

.bg-container2 {
  background-image: url('/images/node-5.png');
  background-size: cover;
  background-position: cover;
  height: 90vh;
  font-size: 30px;
  font-weight: bold;
}

.custom-card {
  width: 510px;
  height: auto;
  margin-right: 40%;
}

.custom-font {
  font-size: 18px;
  color: #4b5563;
}

.box-simple {
  background: #f8f9fa;          /* light grey background */
  border: 1px solid #ddd;       /* subtle border */
  border-radius: 8px;           /* slightly curved corners */
  padding: 20px;                /* comfortable spacing */
  box-shadow: 0 2px 5px rgba(0,0,0,0.05); /* gentle depth */
}

.btn-plain1 {
  background: #0f3460;
  color: white;
  border: 2px solid #0f3460;   /* blue border */
  border-radius: 6px;           /* subtle curve */
  padding: 8px 16px;            /* nice amount of padding */
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn-plain2 {
  background: lightgray;
  color: #333;
  border: 2px solid #0f3460;   /* blue border */
  border-radius: 6px;           /* subtle curve */
  padding: 8px 16px;            /* nice amount of padding */
  cursor: pointer;
  transition: all 0.2s ease;
}


.btn-plain1:hover {
  background: lightgray;
  color: #333;
}

.btn-plain2:hover {
  background: #0f3460;
  color: white;
}

.web-icon {
  width: 20px;
  height:  auto;
}


.notice-rec{
  font-size: 12px;
  background: lightcyan;
  color: lightskyblue;
  padding: 5px;
}

/* Scroll Bar Styling*/
::-webkit-scrollbar {
  width: 10px;              /* width of the scrollbar */
}

::-webkit-scrollbar-track {
  background: #f1f1f1;      /* track color */
}

::-webkit-scrollbar-thumb {
  background-color: #0f3460; /* scrollbar handle color */
  border-radius: 0px;       /* round edges */
  border: 3px solid #f1f1f1; /* padding inside track */
}

